#conteudo {
    width: 900px;
    background-color: #93bff8;
    margin: 0 auto;
}

#cabecalho {
    height: 300px;
    background: linear-gradient(90deg, rgba(174, 211, 227, 1) 0%, rgba(171, 209, 231, 1) 35%,  71%, rgba(187, 210, 236, 1) 100%);
    display: flex;
}

#destaques {
    height: 200px;
    background-color: #bcdbf2;
    display:flex;

}

#feed {
    height: 800px;
    background-color: #BBD2EC;
    .grade-container {
        display: flex; 
        flex-wrap: wrap;
         width: 100%; 
         height: 100vh;  

}
.secao {
    width: 900px;
}

#fotodeperfil {
    width: 300px;
    height: 300px;
    background-color: #AED3E3;
    display: flex;
    align-items: center;
    justify-content:center;
}

#textodeperfil {
    width: 600px;
    height: 300px;
    background: linear-gradient(90deg, rgba(174, 211, 227, 1) 0%, rgba(171, 209, 231, 1) 35%, rgba(60, 153, 214, 1) 85%, rgba(187, 210, 236, 1) 100%, rgba(96, 126, 166, 1) 100%);
    padding: 20px 50px;
    box-sizing: border-box;
    
}

#fotodeperfil > img {
    border-radius: 50%;
    width: 200px;
    height: 200px;

}
#seguidores {
    margin-right: 45px;
}

.juntinhos{
    margin: 0;
   
}
.quasejuntinhos {
    margin-bottom: 0;
}

#pill{
    background-color: rgb(180, 180,180);
    border-radius: 15px;
    padding: 5px;

    img {
        position:relative;
        top: 3px;
    }

}

#paidapill{
    margin: 10px 0;
}

#linklogo{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 20px;
    background-image: url('linklogo.png');
}

a {
   text-decoration: none;
}

.destaque {
    height: 200px;
    width: 150px;
    background-color: rgb(113, 149, 233);
    padding: 35px 25px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;

    img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
}

#feed {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
}
